[Unit]
Description=goby cmd api
After=network-online.target
[Service]
Type=simple
WorkingDirectory=/opt/goby-api/golib
ExecStartPre=/usr/bin/mkdir -p /var/log/goby/
ExecStartPost=/opt/goby-api/gobytip.sh
ExecStart=/opt/goby-api/golib/goby-cmd-linux          \
                     -apiauth GOBY_USER:GOBY_PASSWD   \
                     -mode api                        \
                     -bind 0.0.0.0:8361
LimitNOFILE=102400
LimitNPROC=10000
User=nobody
Group=nobody
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
[Install]
WantedBy=multi-user.target
